# Compilación y binarios
server/build/
*.o
*.out
*.exe
*.dSYM/
.DS_Store

# Variables de entorno con credenciales/datos reales
*.env
!server/config/server.env

# Caché del editor (clangd, IntelliSense)
server/.cache/
compile_commands.json


# Logs generados en tiempo de ejecución
*.log

# Capturas pesadas opcionales (descomentar si no se quieren versionar pcaps gigantes)
# wireshark/captures/*.pcapng
# wireshark/captures/*.pcap

